 <% @purposes.each do |purpose| %>
  <div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto" >
      <p><b>•</b> <%= purpose.description %></p>
 </div>
  <div class="resume-content">
	<%= link_to 'Deletar', purpose, method: :delete,class: "btn btn-default btn-sm btn-login",style: "float: right;" , remote: true, data: { confirm: 'Você tem certeza?' }%>
	<div style="float:right">
	         &nbsp; 
	</div>        
	<%= link_to 'Editar', edit_purpose_path(purpose.id), class: "btn btn-default btn-sm btn-login",style: "float: right;",remote:true   %> 
	</div>
  </div>
 <% end %>

