<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @main_theme.descricao %>
</p>

<%= link_to 'Edit', edit_main_theme_path(@main_theme) %> |
<%= link_to 'Back', main_themes_path %>
