<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SAAD</h1>
    <h2>FeedBack sobre submissão de trabalho</h2>
    <h3>Caro <%= @autor%>,</h3>
    <p>
      <%= @mensagem %>
    </p>
  </body>
</html>
