<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SAAD</h1>
    <h3>Caro(a) <%= @matriculation.nome%>, </h3>
    <p>
        Segue em anexo o certificado de participação do evento: <%= @event.nome %>. Para quaisquer dúvida entre em contado conosco por este email.
    </p>
  </body>
</html>
