<p id="notice"><%= notice %></p>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i> Centro</h4>
      <br>
      <section id="unseen">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Campus</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><%= @center.name %></td>
                <td><%= @center.campu.name %></td>
              </tr>
          </tbody>

        </table>

        <br>
        </section>
      </div>
    </div>
  </div>