$('#ano').empty();
$('#semestre').empty();
$('#semestre').prepend("<option value='todos'>Todos</option>");
$('#semestre option:first').attr("selected", "selected");
$('#_classroom_id').empty();
$('#_classroom_id').prepend("<option value='todos'>Todas</option>");
$('#_classroom_id option:first').attr("selected", "selected");
$('#_users_id').empty();
$('#_users_id').prepend("<option value='todos'>Todos</option>");
$('#_users_id option:first').attr("selected", "selected");
$('#ano').html("<%= escape_javascript options_for_select(@anos)%>");
$('#ano').prepend("<option value='todos'>Todos</option>");
$('#ano option:first').attr("selected", "selected");
