$('#_users2_id').empty();
$('#_users2_id').html("<%= escape_javascript options_from_collection_for_select(@users, :id, :nome) %>");
$('#_users2_id').prepend("<option value='todos'>Todos</option>");
$('#_users2_id option:first').attr("selected", "selected");