
<p>
  <strong>Nome:</strong>
  <%= @course.nome %>
</p>

<p>
  <strong>Data abertura:</strong>
  <%= @course.data_abertura %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @course.turno %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @course.center.name %>
</p>

<%# link_to 'Edit', edit_course_path(@course) %> 
<%# link_to 'Back', courses_path %>
