<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @knowledge.descricao %>
</p>

<%= link_to 'Edit', edit_knowledge_path(@knowledge) %> |
<%= link_to 'Back', knowledges_path %>
