
<%= form_tag weakness_answer_path(id: @weakness_answer.id), method: :put do  %>


   <div class="form-group">
    <label for="text" class="control-label">Resposta:</label>
    <%= text_area_tag(:text, nil,class: "form-control") %>
    </div>
    <div class= "hide">
    <label for="weakness_id" class="control-label">Força:</label>
    <%= text_area_tag(:weakness_id, nil,class: "form-control") %>
    </div>


    <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <%= submit_tag "Editar", class: "btn btn-default" %>
    </div>

<% end %>
