$('#ano').empty();
$('#ano').prepend("<option value='todos'>Todos</option>");
$('#semestre').empty();
$('#semestre').prepend("<option value='todos'>Todos</option>");
$('#semestre option:first').attr("selected", "selected");
$('#_subject_id').empty()
$('#_subject_id').html("<%= escape_javascript options_from_collection_for_select(@subjects, :id, :nome) %>");
$('#_subject_id').prepend("<option value='todos'>Todas</option>")
$('#_subject_id option:first').attr("selected", "selected");
$('#_classroom_id').empty();
$('#_users_id').empty();
$('#_users_id').prepend("<option value='todos'>Todos</option>");
$('#_users_id option:first').attr("selected", "selected");
$('#_classroom_id').prepend("<option value='todos'>Todas</option>");
$('#_classroom_id option:first').attr("selected", "selected");