<div class="modal fade" id="curriculo">
    <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                <h4 id="titulo"></h4>
             </div>
             <div class="modal-body" id="curriculumForm">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-success btn-login" data-dismiss="modal">Fechar</button>
             </div>
         </div>
     </div>
 </div>
