<div class="modal fade" id="planoJs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
      </div>
      <div class="modal-body" id="planoForm">
        <%# utilizou formularios genericos para mandar o metodo post para o controller sendmail a ação create %>
        <%# remote:true para ser via javascript %>



    </div>
  </div>
</div>
</div>