<style>
  a.logo {
    margin-top: 25px;
  }
  .header {
    position: absolute;
  }
</style>
  <div class="background-header"></div>
   <header class="header">             
         <div class="container">

        <center><a class="logo" href="/admin/index"><img src="/assets/saad_2.png" width="100px"></a></center>
        
         </div>
   </header>
  
  <script>
    
  </script>
